* {
  font-family: "Oswald", sans-serif;
}

.btn, .form-control {
  border-radius: 0;
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

section, header, footer, nav, div, span, ul, li, a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section {
  float: left;
  display: block;
  height: 100%;
  margin: 0;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding: 33px 100px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
}

.menu__link {
  font-size: 18px;
  line-height: 24px;
  color: #333;
  text-transform: uppercase;
  margin: 0 15px;
  text-decoration: none;
}

.menu__link:hover {
  color: #E95531;
  text-decoration: none;
}

.menu__link_active {
  color: #E95531;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact__icon {
  margin-right: 10px;
}

.contact__phone {
  margin-right: 10px;
}

.contact__link_color {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.contact__link_color:hover {
  color: #000;
  text-decoration: none;
}

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
}

.counter {
  font-size: 50px;
  color: #000;
}

/* Main */
.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.leftside {
  height: 100vh;
  width: 66%;
  padding-left: 100px;
}

.leftside__headlines {
  margin-top: 320px;
}

.leftside__title {
  height: 158px;
  font-weight: 700;
  font-size: 72px;
  line-height: 110%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #000000;
}

.leftside__subtitle {
  margin-top: 46px;
  font-size: 18px;
  line-height: 100%;
  text-transform: uppercase;
  color: #F01212;
}

form {
  margin-top: 100px;
}

.form-control {
  width: 302px;
  height: 40px;
  padding: 8px 33px;
  border: 1px solid #C9CCD4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn-danger {
  width: 302px;
  height: 40px;
  text-transform: uppercase;
  background: #F01212;
}

.rightside {
  height: 100vh;
  width: 33%;
  background-color: #E95531;
  z-index: -1;
}

.rightside__img {
  position: absolute;
  left: 42.6%;
  right: 5.31%;
  top: 14.9%;
  bottom: 15.1%;
  width: 1000px;
  height: 686px;
}

.rightside__img_size {
  width: 1000px;
  height: 686px;
}

.about, .bottom {
  position: absolute;
  bottom: 0;
}

.about {
  border-radius: 100%;
  background-color: #000;
  width: 110px;
  height: 110px;
  position: absolute;
  padding-top: calc(110px / 2 - 55px / 2);
  text-align: center;
}

.about__text {
  font-size: 18px;
  line-height: 18px;
  height: 37px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.bottom {
  width: 302px;
  left: calc(50% - 302px / 2);
}
/*# sourceMappingURL=style.css.map */