* {
  font-family: "Oswald", sans-serif;
}

.btn, .form-control {
  border-radius: 0;
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

section, header, footer, nav, div, span, ul, li, a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding: 33px 100px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
}

.menu li {
  margin: 0 15px;
  text-transform: uppercase;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact__icon {
  margin-right: 10px;
}

.contact__phone {
  margin-right: 10px;
}

section {
  float: left;
  display: block;
  height: 100%;
  margin: 0;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.leftside {
  height: 100vh;
  width: 66%;
  padding-left: 100px;
}

.leftside__headlines {
  margin-top: 320px;
}

.leftside__title {
  height: 158px;
  font-weight: 500;
  font-size: 72px;
  line-height: 110%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #000000;
}

.leftside__subtitle {
  margin-top: 46px;
  font-size: 18px;
  line-height: 100%;
  text-transform: uppercase;
  color: #F01212;
}

form {
  margin-top: 100px;
}

.form-control {
  width: 302px;
  height: 40px;
  padding: 8px 33px;
  border: 1px solid #C9CCD4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn-danger {
  width: 302px;
  height: 40px;
  text-transform: uppercase;
  background: #F01212;
}

.rightside {
  height: 100vh;
  width: 33%;
  background-color: #E95531;
  z-index: -1;
}

.about, .bottom {
  position: absolute;
  bottom: 0;
}
/*# sourceMappingURL=style.css.map */