$font: 'Oswald', sans-serif;

@mixin flexRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
@mixin flexColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

* {
    font-family: $font;
}
ul, p, h5 {
    margin: 0;
    padding: 0;
}
.btn, .form-control {
    border-radius: 0;
}

@media all and (min-width: 1024px) { 
    html, body {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        overflow: hidden;
    }
    section {
        float: left;
        display: block;
        height: 100%;
        margin: 0;
    }
    section, header, footer, nav, div, span, ul, li, a {
        box-sizing: border-box;
    }
}

.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    @include flexRow();
    width: 100%;
    padding: 33px 100px;
}
.menu {
    @include flexRow();
    list-style-type: none;
}
.menu__link {
    font-size: 18px;
    line-height: 24px;
    color: #333;
    text-transform: uppercase;
    
    margin: 0 15px;
    text-decoration: none;
}
.menu__link:hover {
    color: #E95531;
    text-decoration: none;
}
.menu__link_active {
    color: #E95531;
}
.contact {
    @include flexRow();
}
.contact__icon {
    margin-right: 10px;
}
.contact__phone {
    margin-right: 10px;
}
.contact__link_color {
    font-size: 18px;
    line-height: 24px;
    
    color: #000000;
}
.contact__link_color:hover {
    color: #000;
    text-decoration: none;
}

.footer {
    position: fixed;
    bottom: 75px;
    right: 100px;
}
.counter {
    font-size: 18px;
    line-height: 27px;

    letter-spacing: 1px;

    color: #000000;
}

/* Main */
.content {
    @include flexRow();
    width: 100%;
    height: 100%;
    flex-wrap: nowrap;
}
.leftside {
    height: 100vh;
    width: 66%;

    padding-left: 100px;
}
.leftside__headlines {
    margin-top: 320px;
}
.leftside__title {
    height: 158px;

    font-weight: 700;
    font-size: 72px;
    line-height: 110%;

    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: #000000;
}
.leftside__subtitle {
    margin-top: 46px;
    
    font-size: 18px;
    line-height: 100%;

    text-transform: uppercase;

    color: #F01212;
}
form {
    margin-top: 100px;
}
.form-control {
    width: 302px;
    height: 40px;
    padding: 8px 33px;

    border: 1px solid #C9CCD4;
    box-sizing: border-box;
}
.btn-danger {
    width: 302px;
    height: 40px;

    text-transform: uppercase;

    background: #F01212;
}
.rightside {
    height: 100vh;
    width: 33%;
    background-color: #E95531;
    z-index: -1;
}
.rightside__img {
    position: absolute;
    left: 42.6%;
    right: 5.31%;
    top: 14.9%;
    bottom: 15.1%;
    width: 1000px;
    height: 686px;
}
.rightside__img_size {
    width: 1000px;
    height: 686px;
}
.about, .bottom {
    position: absolute;
    bottom: 0;
}
.about {
    border-radius: 100%;
    background-color: #000;
    width: 110px;
    height: 110px;

    position: absolute;
    left: 39.74%;
    right: 54.53%;
    top: 65.92%;
    bottom: 22.86%;
    padding-top: calc(110px / 2 - 55px / 2);

    text-align: center;
}
.about__text {
    font-size: 18px;
    line-height: 18px;
    height: 37px;

    letter-spacing: 1px;
    text-transform: uppercase;

    color: #FFFFFF;
}
.bottom {
    left: calc(50% - 302px / 2);
}
.bottom__btn, .bottom__btn:hover {
    @include flexRow();
    align-items: flex-end;

    font-size: 18px;
    color: #F01212;
}

/* services */
#section-section2 {
    background-image: url(../images/services.jpg);
}
.services-leftside {
    @include flexColumn();
    align-items: flex-start;
    justify-content: flex-start;
}
.services-rightside {
    @include flexColumn();
    align-items: flex-start;
    padding-right: 200px;
}
.services-rightside__content {
    @include flexRow();
    align-items: flex-start;
    flex-wrap: nowrap;
}
.services-rightside__service-text {
    @include flexColumn();
    align-items: flex-start;
}
.services-rightside__advantages {
    @include flexRow();
}

.services-leftside {
    padding-left: 101px;
    padding-top: 185px;
}
.services-leftside__title {
    font-weight: bold;
    font-size: 72px;
    line-height: 110%;

    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: #000000;

    margin-bottom: 33px;
}
.services-leftside__text {
    width: 381px;

    font-size: 16px;
    line-height: 100%;

    color: #000000;

    opacity: 0.5;

    margin-bottom: 47px;
}
.services-leftside__hr {
    width: 120px;
    border: 4px solid #F01212;
    margin: 0 0 46px 0;

}
.services-leftside__link, .services-leftside__link:hover {
    font-size: 18px;
    line-height: 100%;

    text-transform: uppercase;

    color: #F01212;

}
.services-leftside__license {
    margin-top: 30px;

    @include flexRow();
    justify-content: flex-start;
}
.services-leftside__license__text {
    width: 217px;
    
    font-size: 16px;
    line-height: 100%;

    color: #000000;

    opacity: 0.5;
}

.services-rightside__title {
    font-weight: bold;
    font-size: 30px;
    line-height: 110%;

    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: #000000;

    margin-bottom: 55px;
}
.services-rightside__text {
    width: 381px;

    font-size: 16px;
    line-height: 100%;

    color: #000000;

    opacity: 0.5;

    margin-bottom: 90px;
}
.services-rightside__item {
    list-style-type: none;
    @include flexRow();
    align-items: center;
    justify-content: flex-start;
}
.services-rightside__item__text {
    margin-left: 15px;
    margin-bottom: 8.5px;
    margin-top: 8.5px;
    
    font-size: 18px;
    line-height: 100%;

    text-transform: uppercase;

    color: #000000;
    cursor: pointer;
}
.services-rightside__img {
    width: 520px;
    height: 300px;

    margin-bottom: 31px;
    margin-right: 55px;
}
.services-rightside__price table tr {
    td {
        font-size: 16px;
        line-height: 100%;

        text-transform: uppercase;

        color: #000000;
        span {
            color: #F01212;
        }
    }
}
.services-rightside__price table tr td:nth-child(1) {
    padding-right: 15px;
}
.services-rightside__advantages {
    margin-top: 30px;
    width: 391px;
}
.services-rightside__adv {
    width: 102px;
    
    font-size: 16px;
    line-height: 100%;

    text-align: center;
    text-transform: uppercase;

    color: #000;

    opacity: 0.5;
    span {
        color: #F01212;
    }
}

/* prod */
#section-section3 {
    background-image: url(../images/prod.jpg);
} 
.prod-leftside__docs {
    @include flexRow();
    justify-content: flex-start;
}
.prod-leftside__doc:nth-child(1) {
    margin-right: 40px;
}
.prod-rightside {
    @include flexRow();
    justify-content: space-evenly;
}
.prod-rightside__item {
    background-image: url(../images/main-image.png);
    background-size: cover;
    width: 360px;
    height: 265px;
    transition: all 1s ease-in-out;

    margin: 15px 0;
}
.prod-rightside__item__header, .prod-rightside__item__name {
    @include flexRow();
}
.prod-rightside__item__header {
    height: 60px;
    width: 100%;
    background-color: rgba($color: #000000, $alpha: .5);
    padding: 20px 10px;
}
.prod-rightside__item__title {
    font-size: 16px;
    line-height: 100%;
    font-weight: 200;

    text-transform: uppercase;

    color: #FFFFFF;

    margin-left: 5px;
}
.prod-rightside__item__price {
    span {
        font-size: 14px;
        line-height: 100%;

        text-transform: uppercase;

        color: #FFFFFF;
        span {
            color: #F01212
        }
    }
}
.prod-rightside__item__text {
    font-size: 14px;
    line-height: 100%;
    font-weight: normal;

    color: #FFFFFF;

    margin-top: 25px;
    margin-bottom: 33px;
    margin-left: 10px;
    margin-right: 10px;

}
.prod-rightside__item__btn {
    width: 147px;
    height: 40px;

    text-transform: uppercase;

    font-size: 16px;

    margin: 0 10px;
}
.prod-rightside__item__footer, .prod-rightside__item__main {
    display: none;
}
.prod-rightside__item__active {
    display: block;
}
.prod-rightside__item__active-bg {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../images/main-image.png);
    background-size: cover;
}

/* how */
#section-section4 {
    background-image: url(../images/how.jpg);
    background-position-y: bottom;
    background-repeat: no-repeat;
}
.how-leftside {
    padding-bottom: 225px;
}
.how-rightside {
    @include flexColumn();
    width: 100%;
    height: 100%;
}
.how-rightside__content {
    @include flexRow();
    justify-content: space-evenly;
    width: 100%;
}
.how-rightside__item {
    @include flexColumn();
}
.how-rightside__item__number {
    font-size: 18px;
    line-height: 27px;

    letter-spacing: 1px;

    color: #000000;

    text-shadow: 0px 50px 20px rgba(0, 0, 0, 0.25);

    margin-bottom: 15px;
}
.how-rightside__item__text {
    font-size: 16px;
    line-height: 100%;

    text-transform: uppercase;

    color: #000000;

    text-shadow: 0px 50px 20px rgba(0, 0, 0, 0.25);
}
.how-rightside__text {
    font-weight: 700;
    font-size: 30px;
    line-height: 110%;

    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: #000000;

    opacity: 0.5;

    margin-top: 250px;
    margin-bottom: 50px;
}

/* about */
#section-section5 {
    background-image: url(../images/about.jpg);
}
.about-leftside__text {
    margin-bottom: 120px;
}
.about-licenses {
    @include flexColumn();
    align-items: flex-start;
}
.about-licenses__link, .about-licenses__link:hover {
    font-size: 18px;
    line-height: 100%;

    text-transform: uppercase;
    text-decoration: none;

    color: #000000;
    
    margin: 7.5px 0;
}
.about-licenses__link_underline, .about-licenses__link_underline:hover {
    padding-bottom: 15px;
    text-decoration: underline #E95531;;
}
.about-rightside {
    @include flexColumn();
    align-items: flex-start;
    padding-right: 70px;
    padding-top: 125px;
}
.about-rightside__title {
    font-size: 30px;
    line-height: 110%;
    font-weight: 700;

    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: #000000;

    margin-bottom: 33px;
    span {
        color: #E95531;
    }
}
.about-rightside__text {
    width: 893px;
    font-size: 16px;
    line-height: 100%;
    font-weight: normal;

    color: #000000;

    opacity: .7;

    margin-bottom: 36px;
}
.about-rightside__content {
    @include flexRow();
    justify-content: flex-start;
    :nth-child(odd) {
    background: rgba($color: #fff, $alpha: .5);
    }

    :nth-child(1), :nth-child(4) {
        margin-left: 0;
    }

    width: 1110px;
}
.about-rightside__item {
    width: 320px;
    height: 160px;

    @include flexColumn();
    align-items: flex-start;
    position: relative;

    background-color: rgba($color: #E95531, $alpha: .1);
    transition: 1s box-shadow;

    padding-top: 40px;
    padding-left: 30px;
    padding-bottom: 30px;
    margin: 25px;
}
.about-rightside__item__counter {
    font-size: 30px;
    line-height: 110%;

    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: #E95531;

    margin-bottom: 17px;
}
.about-rightside__item__text {
    width: 104px;
    font-size: 16px;
    line-height: 130%;

    text-transform: uppercase;

    color: #000000;
}

/* contacts */
#section-section6 {
    background-image: url(../images/contacts.jpg);
    background-position-x: right;
    background-position-y: bottom;
    background-repeat: no-repeat;
    .content {
        justify-content: flex-start;
    }
}
.contacts-rightside {
    margin-left: 220px;
    margin-bottom: 250px;
}
.contacts-leftside__info {
    width: 390px;
    height: 322px;  

    background: #FAFAFA;
    box-shadow: 25px 25px 15px rgba(0, 0, 0, 0.05);
}
.contacts-leftside__title {
    font-size: 18px;
    line-height: 100%;

    text-transform: uppercase;

    color: #000000;

    margin-bottom: 15px;
}
.contacts-leftside__subtitle {
    font-size: 16px;
    line-height: 100%;

    color: #000000;

    opacity: 0.5;

    margin-bottom: 10px;
}
.contacts-leftside__subtitle__margin {
    margin-bottom: 30px;
}
.contacts-leftside__footer__text {
    margin-top: 70px;
    font-size: 12px;
    line-height: 100%;

    color: #000000;

    opacity: 0.5;
    a {
        font-size: 12px;
        line-height: 100%;

        color: #000000;

        opacity: 1;
        text-decoration: none;
    }
}
.by, .by:hover {
    position: absolute;
    width: 300px;
    color: #F01212;
    margin-top: 50px;
    font-style: italic;
    font-weight: 500;
    text-decoration: overline;
}
.by {
    opacity: .7;
}
.by:hover {
    opacity: 1;
}
.contacts-rightside {
    @include flexColumn();
    align-items: flex-start;
}
.contacts-rightside__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 130%;

    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: #000000;
    span {
        color: #E95531;
    }
    margin-bottom: 30px;
}
.contacts-rightside__text {
    width: 381px;
    font-size: 16px;
    line-height: 100%;

    color: #000000;

    opacity: 0.5;

    margin-bottom: 30px;
}
.contacts-rightside__name {
    font-size: 18px;
    line-height: 100%;

    text-transform: uppercase;

    color: #000000;

    margin-bottom: 15px;
}

/* header */
.contact__btn {
    width: 296px;
    height: 40px;
    text-transform: uppercase;
    font-size: 16px;
    margin-right: 45px;
    cursor: default !important;
}